{% extends "layout.html" %}
{% block content %}

<h1 class="title">Dashboard</h1>

<div class="cards">
    <div class="card">
        <h3>Total Students</h3>
        <p>{{count}}</p>
    </div>
</div>

<div class="top-bar">

<form method="GET">
    <input class="search" name="search"
           placeholder="Search student..."
           value="{{search}}">
</form>

<form action="/upload_universal"
      method="POST"
      enctype="multipart/form-data">

    <input type="file" name="file" required>
    <button class="btn">Universal Upload</button>

</form>
<a href="/download_excel" class="btn">
    Download Excel
</a>
</div>

<table class="table">
<tr>
<th>ID</th>
<th>Name</th>
<th>Age</th>
<th>Action</th>
</tr>

{% for s in students %}
<tr>
<td>{{s.id}}</td>
<td>{{s.name}}</td>
<td>{{s.age}}</td>
<td>
<a class="edit" href="/edit/{{s.id}}">Edit</a>
<a class="delete" href="/delete/{{s.id}}">Delete</a>
</td>
</tr>
{% endfor %}

</table>

{% endblock %}