<!DOCTYPE html>
<html>
<head>
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="app">

    <!-- SIDEBAR -->
    <div class="sidebar">
        <h2>🎓 Admin</h2>
        <a href="/">Dashboard</a>
        <a href="/add">Add Student</a>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert">{{messages[0]}}</div>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>